html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

.spacer {
	min-height: 900px;
	background-image: url('http://placekitten.com/g/781/500');
}

.countup {
	margin: 50px;
}

.countup .value {
	font-size: 5rem;
	font-weight: bold;
}