html,
body {
  font: 14px/1.21 "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
}

h1 {
  text-align: center;
}

.spacer {
  min-height: 1200px;
  background-image: url("http://placekitten.com/g/781/500");
}

.tiny-spacer {
  min-height: 150px;
  width: 100%;
  background-color: magenta;
}

.countup {
  margin: 50px;
  margin-bottom: 100px;
}

.countup .value {
  font-size: 5rem;
  font-weight: bold;
}
